a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {
	display:block
}
body,button,html,input,pre,select,textarea {
	font-family:Microsoft Yahei,arial,Hiragino Sans GB,\\5B8B\4F53,Tahoma
}
body,html {
	height:100%;
	width:100%;
	font-size:14px;
	color:#2d2d34
}
pre {
	white-space:pre-wrap;
	word-wrap:break-word
}
a {
	text-decoration:none;
	color:#3c72ea;
	cursor:pointer
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-size:100%
}
ol,ul {
	list-style:none
}
button,input,select,textarea {
	outline:none;
	border:1px solid #c8c8c8;
	padding:5px
}
input[type=range] {
	padding:0
}
input[type=text]:focus,select:focus,textarea:focus {
	border:1px solid #53a1f0
}
button,input[type=button],label,select {
	cursor:pointer
}
input[disabled=disabled] {
	background:#fff;
	cursor:no-drop
}
small {
	font-size:12px
}
fieldset,img {
	border:none
}
img {
	vertical-align:middle;
	font-size:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
input {
	color:#444
}
input::-webkit-input-safebox-button {
	display:none
}
#sogou_secure_inputs_container {
	display:none
}
input::-ms-clear,input::-ms-reveal {
	display:none
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */html {
	font-family:sans-serif;
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
article,aside,footer,header,nav,section {
	display:block
}
h1 {
	font-size:2em
}
figcaption,figure,main {
	display:block
}
figure {
	margin:1em 40px
}
hr {
	box-sizing:content-box;
	height:0;
	overflow:visible
}
pre {
	font-family:monospace,monospace;
	font-size:1em
}
a {
	background-color:transparent;
	-webkit-text-decoration-skip:objects
}
a:active,a:hover {
	outline-width:0
}
abbr[title] {
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted
}
b,strong {
	font-weight:inherit;
	font-weight:bolder
}
code,kbd,samp {
	font-family:monospace,monospace;
	font-size:1em
}
dfn {
	font-style:italic
}
mark {
	background-color:#ff0;
	color:#000
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sub {
	bottom:-.25em
}
sup {
	top:-.5em
}
audio,video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
img {
	border-style:none
}
svg:not(:root) {
	overflow:hidden
}
button,input,optgroup,select,textarea {
	font-family:sans-serif;
	font-size:100%;
	line-height:1.15;
	margin:0
}
button,input {
	overflow:visible
}
button,select {
	text-transform:none
}
[type=reset],[type=submit],button,html [type=button] {
	-webkit-appearance:button
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
	border-style:none;
	padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
	outline:1px dotted ButtonText
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal
}
progress {
	display:inline-block;
	vertical-align:baseline
}
textarea {
	overflow:auto
}
[type=checkbox],[type=radio] {
	box-sizing:border-box;
	padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height:auto
}
[type=search] {
	-webkit-appearance:textfield;
	outline-offset:-2px
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
::-webkit-file-upload-button {
	-webkit-appearance:button;
	font:inherit
}
details,menu {
	display:block
}
summary {
	display:list-item
}
canvas {
	display:inline-block
}
[hidden],template {
	display:none
}
.icon-loading {
	background-image:url(../assets/loading.gif);
	background-position:0 0;
	width:18px;
	height:18px;
	background-size: contain;
}
.icon-arrow {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 0;
	width:29px;
	height:18px
}
.icon-speaker {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -18px;
	width:23px;
	height:23px
}
.icon-tip-first {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -41px;
	width:304px;
	height:35px
}
.icon-tip-three {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -76px;
	width:304px;
	height:35px
}
.icon-tip-two {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -111px;
	width:304px;
	height:35px
}
.icon-alldo {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -146px;
	width:41px;
	height:40px
}
.icon-alldo-big {
	background: url(../assets/index-alldo-big.png) no-repeat;
    width: 60px;
    height: 60px;
}
.icon-construction {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -186px;
	width:41px;
	height:40px
}
.icon-construction-big {
	background:url(../assets/index-construction-big.png) no-repeat;
    width: 60px;
	height: 42px;
	margin-top: 20px;
}
.icon-deputy {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -226px;
	width:41px;
	height:40px
}
.icon-deputy-big {
	background:url(../assets/index-deputy-big.png) no-repeat;
    width: 60px;
    height: 60px;

}
.icon-free-express {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -266px;
	width:41px;
	height:40px
}
.icon-free-express-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position: 0px -2850px;
    width: 88px;
    height: 80px;
}
.icon-tax {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -306px;
	width:41px;
	height:40px
}
.icon-tax-big {
	background: url(../assets/index-tax-big.png) no-repeat;
    width: 60px;
    height: 60px;
}
.icon-Investment {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -346px;
	width:41px;
	height:40px
}
.icon-Investment-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position: 1px -3024px;
    width: 87px;
    height: 85px;
}
.icon-legal {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -386px;
	width:41px;
	height:40px
}
.icon-legal-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position: 0px -3585px;
    width: 88px;
    height: 80px;
}
.icon-start {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -426px;
	width:41px;
	height:40px
}
.icon-start-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position: 0px -2931px;
    width: 80px;
    height: 90px;
}
.icon-label-person {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -466px;
	width:41px;
	height:41px
}
.icon-label-two {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -507px;
	width:41px;
	height:42px
}
.icon-c-military {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -549px;
	width:62px;
	height:43px
}
.icon-p-military {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -592px;
	width:62px;
	height:43px
}
.icon-c-education {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -635px;
	width:64px;
	height:45px
}
.icon-p-education {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -680px;
	width:64px;
	height:45px
}
.icon-c-employment {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -725px;
	width:49px;
	height:47px
}
.icon-p-employment {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -772px;
	width:49px;
	height:47px
}
.icon-talent-service {
	background: url(../assets/index-talent-service.png) no-repeat;
    width: 60px;
	height: 46px;
	background-position: center;
}
.icon-c-marriage {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -866px;
	width:58px;
	height:49px
}
.icon-home {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -915px;
	width:50px;
	height:49px
}
.icon-home-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position: 0px -2573px;
    width: 76px;
    height: 62px;
}
.icon-p-marriage {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -964px;
	width:58px;
	height:49px
}
.icon-c-administrative {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1013px;
	width:55px;
	height:50px
}
.icon-p-administrative {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1063px;
	width:55px;
	height:50px
}
.icon-special-service {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1113px;
	width:54px;
	height:53px
}
.icon-huicai {
	background:url(../assets/index-huicai.png) no-repeat;
	width: 15px;
    background-size: contain;
    height: 15px;
}
.icon-huicai-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1166px;
	width:63px;
	height:54px
}
.icon-settlement {
	background: url(../assets/settlement.png) no-repeat;
    width: 17px;
    background-size: contain;
    height: 17px;
    margin-left: 1px;
}
.icon-settlement-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1220px;
	width:60px;
	height:55px
}
.icon-c-household {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1275px;
	width:57px;
	height:57px
}
.icon-p-household {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1332px;
	width:57px;
	height:57px
}
.icon-c-mortgage {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1389px;
	width:58px;
	height:58px
}
.icon-p-mortgage {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1447px;
	width:58px;
	height:58px
}
.icon-c-professional {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1505px;
	width:48px;
	height:59px
}
.icon-c-religion {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1564px;
	width:60px;
	height:59px
}
.icon-p-professional {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1623px;
	width:48px;
	height:59px
}
.icon-p-religion {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1682px;
	width:60px;
	height:59px
}
.icon-c-fertility {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1741px;
	width:61px;
	height:60px
}
.icon-p-fertility {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1801px;
	width:61px;
	height:60px
}
.icon-c-changes {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1861px;
	width:54px;
	height:62px
}
.icon-p-changes {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1923px;
	width:54px;
	height:62px
}
.icon-c-license {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -1985px;
	width:63px;
	height:63px
}
.icon-p-license {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2048px;
	width:63px;
	height:63px
}
.icon-index-policy{
	background:url(../assets/index-policy.png) no-repeat;
	width: 17px;
    background-size: contain;
    height: 15px;
}
.icon-license {
	background:url(../assets/index-license.png) no-repeat;
	width: 17px;
    background-size: contain;
    height: 15px;
}
.icon-license-big {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2111px;
	width:63px;
	height:63px
}
.icon-high-level {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2174px;
	width:68px;
	height:65px
}
.icon-overseas {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2239px;
	width:75px;
	height:66px
}
.icon-post {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2305px;
	width:68px;
	height:66px
}
.icon-business {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2371px;
	width:68px;
	height:67px
}
.icon-introduction {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2438px;
	width:67px;
	height:67px
}
.icon-non-local {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2505px;
	width:81px;
	height:67px
}
.icon-residents {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2572px;
	width:76px;
	height:67px
}
.icon-foreigners {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2639px;
	width:68px;
	height:68px
}
.icon-green-card {
	background:url(../assets/index-green-card.png) no-repeat;
	width: 20px;
    height: 20px;
}
.icon-green-card-big{
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2707px;
	width:70px;
	height:70px
}
.icon-c-recognition {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2777px;
	width:64px;
	height:73px
}
.icon-express {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2850px;
	width:105px;
	height:81px
}
.icon-drug {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -2931px;
	width:74px;
	height:91px
}
.icon-small-enterprises {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3022px;
	width:90px;
	height:91px
}
.icon-web-p {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3113px;
	width:90px;
	height:91px
}
.icon-everything {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3204px;
	width:93px;
	height:94px
}
.icon-loan-review {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3298px;
	width:102px;
	height:95px
}
.icon-robot {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3393px;
	width:107px;
	height:95px
}
.icon-same {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3488px;
	width:101px;
	height:96px
}
.icon-legal-advice {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3584px;
	width:101px;
	height:97px
}
.icon-tax-service {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3681px;
	width:97px;
	height:97px
}
.icon-help-agency {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3778px;
	width:105px;
	height:100px
}
.icon-business-service {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3878px;
	width:111px;
	height:111px
}
.icon-c-talent-service {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -3989px;
	width:111px;
	height:111px
}
.icon-convenience {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -4100px;
	width:111px;
	height:111px
}
.icon-specialser {
	background-image:url(../assets/sprite-000320c0.png);
	background-position:0 -4211px;
	width:111px;
	height:111px
}
.icon-index-direct{
	background: url(../assets/index-direct.png) no-repeat;
    width: 17px;
    background-size: contain;
    height: 15px;
}
.icon {
	background-repeat:no-repeat
}
.f-left {
	float:left
}
.f-right {
	float:right
}
.clearfix:after {
	content:"";
	display:block;
	clear:both
}
.of-hidden {
	overflow:hidden
}
body {
	background:#fff
}
#header {
	width:100%;
	height:470px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#3c72ea;
	background-size:100%
}
.header-container {
	width:1349px;
    margin:0 auto;
    position: absolute;
}
.header-container .left{
    margin-left: 50px;
    margin-top: 20px;
}

#header nav a {
	font-size:24px;
	font-stretch:normal;
	color:#fff;
	margin-right:40px;
	text-shadow:0 9px 10px 0 rgba(6,45,81,.43)
}
#header nav a.active{
	color:#ffed57;
	border-bottom:5px solid #ffed57
}
#header nav a:hover {
	color:#ffed57;
}
.icon-arrow,.icon-loading {
	margin:auto
}
.icon-index-direct{
	margin-top: 3px;
	margin-left:3px;
}
.icon-huicai {
	margin-top: 3px;
	margin-left:3px;
}
.icon-green-card {
	margin-top:3px
}
.icon-license {
	margin-top: 3px;
    margin-left: 4px;
}
.icon-index-policy{
	margin-top: 3px;
	margin-left:3px;
}



/**** footer  *********************************************/
footer {
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
	background-color: #696161;
}

.link {
	height: 90px;
	margin: 75px auto 0;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex; 
    display: flex;
	justify-content: center;
	background-color: #E1E1E1;
    align-items: center;
}
.link h4 {
	font-stretch:normal;
	color:#0d4c8a
}
.link h4,.link ul li {
	float:left;
	font-size:16px;
	font-weight:700;
	line-height:30px;
	letter-spacing:0
}
.link ul li {
	width:100px;
	margin-right: 20px;
}
.link ul li a {
	color:#464646
}
.copyright {
	width: 1200px;
    height: 248px;
    margin: 20px auto 0;
}
.copyright .right-img {
	float:left;
	margin:20px 20px 10px 0
}
.copyright .center-img {
	float:left;
	margin:20px
}
.copyright .tip-bottom,.copyright ul {
	float:left;
	margin-top:20px
}
.tip-bottom p {
	float:right;
	color:#fff;
	padding-top:10px
}
.copyright ul li {
	text-align:center;
	line-height:20px;
	color:#c4c1c1;
	font-size:12px
}
.copyright ul li a {
	color:#c4c1c1;
	padding-right:30px
}
.copyright ul li span {
	padding-right:30px
}