html{
    font-size: 100px;
}
.left {
    float: left;
}
.right{
    float:right;
}
/****footer****/
footer{
    max-width: 100%;
}
.copyright .right-img {
    float: left;
    margin: 0.2rem .15rem .1rem .6rem;
    width: 1.14rem;
    height: 0.57rem;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: .2rem .2rem .2rem 0;
    width: .37rem;
    height: .44rem;
}
footer .link {
    width: 100%;
    height: .2rem;
    padding: .35rem 0 .3rem .6rem;
    background-color: #E1E1E1;
    margin: 0 auto;
    box-sizing: border-box;
}

/*******************  菜单 **************************************************/
.menu-container{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	min-width: 1200px;
	position: relative;
    top: -2.62rem;
	z-index: 1;
}
.menubg{
	width: 100%;
	height: 40px;
	background-color: #811005;
	top: 20px;
	position: absolute;
	z-index: -1;
}

.menu-container>ul{
	background: url(../assets/menu-bg.png) no-repeat;
    width: 1200px;
    box-sizing: border-box;
    padding: 0 120px;
    display: flex;
    margin: 0 auto;
    height: 60px;
    background-size: contain;
    justify-content: space-between;
}
.menu-container .menu{
	font-size: 22px;
	height: 60px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border-bottom: 5px solid transparent;
	position: relative;
}
.menu-container .menu>a{
	color: #fff;
	font-size: 20px;
}
.menu-container .menu.active>a,
.menu-container .menu:hover>a{
	color: #ffed57;
}
.menu-container .menu.active{
    border-bottom: 5px solid #ffed57;
}
.icon-menu-hover{
	display: none;
}
.menu-container .menu:hover .icon-menu-hover{
	display: inline-block;
	bottom: -5px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}
.menu:hover .dropdownmenu,
.dropdownmenu:hover{
	display: flex;
    
}
.dropdownmenu li{
	padding-right: 38px;
    border-right: 1px solid #464646;
}
.dropdownmenu li:last-child{
	border: 0;
}
.dropdownmenu li:last-child a{
	border: 0;
}
.dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
	padding-bottom: 10px;
}
.dropdownmenu li:hover a,
.dropdownmenu li.active a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 630px;
	left: -50px;
}
#hudong{
	width: 400px;
    left: -130px;

}
/*********************************************************************/

.video-block{
    position: relative;
    top: -1.22rem;
    z-index: -1;
}
/* .video {
    position: relative;
    width: 12.8rem;
    height: 4.82rem;
} */
#my-player{
    width: 12.8rem;
    height: 7.25rem;
    min-width: 1280px;
}
.video-js .vjs-big-play-button{
    width: .84rem;
    height: .84rem;
    background-size: contain;
    /* display: block; */
    position: absolute;
    top: 2rem;
    left: 5.9rem;
    border-radius: 100px;
}
.video-js .vjs-big-play-button{
    line-height: 2.8em;
}
.video img{
    width: 12.8rem;
    height: 4.82rem;
}
.video .icon-play{
    background: url(../assets/icon-qingdao-play.png) no-repeat;
    width: .84rem;
    height: .84rem;
    background-size: contain;
    display: block;
    position: absolute;
    top: 2rem;
    left: 5.9rem;
}



/********************************************************/
.main-container {
    width: 100%;
    background-color: #fff;
    top: -2.62rem;
    position: relative;
}
main{
    width: 1200px;
    padding-top: 70px;
    background-color: white;
    margin: 0 auto;
}
#tabs{
    display: flex;
    justify-content: space-around;
    border: 2px solid #BA2904;
    width: 1084px;
    height: 45px;
    margin: 0 auto;
    border-radius: 30px 30px 30px 30px;
}

#tabs li{
    height: 45px;
    width: 272px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;    
}
#tabs li:nth-child(1){
    border-radius: 30px 0 0 30px;
}
#tabs li:nth-child(4){
    border-radius: 0 30px 30px 0;
}
#tabs li a{
    color: #333;
}
#tabs li.active{
    background-color: #BA2904;
    font-size: 22px;
}
#tabs li.active a{
    color: #fff;
}
#content section{
    display: none;
    letter-spacing: 1px;
}
#content p{
    font-size: 17px;
    line-height: 32px;
}

#content section.active{
    display: block;
}
.divide{
    background: url(../assets/qingdao-touzi-divide.png) no-repeat;
    width: 1200px;
    height: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*********** 概况 ******************************************************/
#overview {
    margin-bottom: 150px;
}
#overview p{
    text-indent: 40px;
    margin-top: 30px;
}
.overview-1{
    background: url(../assets/enterqingdao/overview-1.png) no-repeat;
    width: 1200px;
    height: 329px;
    margin-bottom: 30px;
    margin-top:45px;
;}
.overview-2{
    background: url(../assets/enterqingdao/overview-2.png) no-repeat;
    width: 1200px;
    height: 671px;
    margin-bottom: 30px;
}

/******** 投资环境 ***********************************************/
.pic1{
    background: url(../assets/enterqingdao/enterqingdao1.png) no-repeat;
    width: 1200px;
    height: 326px;
    margin-top: 45px;
}
#environment .article1{
    margin: 0 auto;
}
.article1 p{
    text-indent: 40px;
    margin-top: 30px;
}



.introduce>.left {
    width: 212px;
    border-right: 1px dashed #666;
}
.introduce{
    overflow: hidden;
    margin-bottom: 70px;
}
.introduce .left ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 484px;
}

.introduce .left li{
    padding-left: 10px;
    height: 18px;
}
.introduce a{
    color: #333;
    font-size: 16px;
}
.introduce li.active a,
.introduce li:hover a{
    color: #BA2904;
}
a .icon-sanjiaoxiabiaozhengfangxing{
    /* color: transparent; */
    display: none;
}
li.active .icon-sanjiaoxiabiaozhengfangxing,
a:hover .icon-sanjiaoxiabiaozhengfangxing{
    display: inline-block;
    color: #BA2904;
    transform: rotate(90deg);
}

#environment-container .environment-detail:nth-child(1) .left,
#environment-container .environment-detail:nth-child(1) .right{
    width: 414px;
}
#environment-container .environment-detail:nth-child(1) p{
    text-indent: 0;
}
#environment-container .environment-detail:nth-child(1) em{
    font-style: normal;
    color: #BA2904;
}
#environment-container .environment-detail:nth-child(2) .left{
    width: 500px;
    margin-left: 5px;
}
#environment-container .environment-detail:nth-child(2) .left p{
    padding-left: 25px;
    padding-right: 40px;
    text-indent: 40px;
}
#environment-container .environment-detail:nth-child(3) .left{
    width: 447px;
}
#environment-container .environment-detail:nth-child(3) .right{
    width: 480px;
    margin-left: 30px;
}
#environment-container .environment-detail:nth-child(3) .title{
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    margin-bottom:20px;
}
#environment-container .environment-detail:nth-child(3) .right .title{
    margin-top: 30px;
}
#environment-container .environment-detail:nth-child(3) p{
    text-indent: 40px;
}
#environment-container .environment-detail:nth-child(3) h3{
    padding-left: 10px;
    border-left: 5px solid #BA2904;
    font-size: 20px;
}
#environment-container .environment-detail:nth-child(4) .i_left{
    display: inline-block;
    width: 460px;
    margin-bottom: 60px;
    margin-left: 13px;
}
#environment-container .environment-detail:nth-child(4) .i_right{
    display: inline-block;
    width: 450px;
    margin-left: 30px;
}
#environment-container .environment-detail:nth-child(4) .title{
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}
#environment-container .environment-detail:nth-child(4) h3{
    padding-left: 10px;
    border-left: 5px solid #BA2904;
    font-size: 20px;
}
#environment-container .environment-detail:nth-child(5){
    margin-right: 25px;
}
#environment-container .environment-detail:nth-child(5) .innovate{
    width: 910px;
    padding-top: 50px;
}
#environment-container .environment-detail:nth-child(5) p{
    line-height: 50px;
}
#environment-container .environment-detail:nth-child(6) .deudetail{
    background-color: #F7F7F7;
    padding-left: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 30px;
}
#environment-container .environment-detail:nth-child(6) p{
    line-height: 50px;
}
#environment-container .environment-detail:nth-child(7){
    width: 930px;
    padding-right: 18px;
}
#environment-container .environment-detail:nth-child(7) li{
    display: inline-block;
    width: 292px;
    border-right: 1px dashed #999;
}
#environment-container .environment-detail:nth-child(7) li:nth-child(3){
    border-right: 0;
}
#environment-container .environment-detail:nth-child(7) .title{
    padding-bottom: 15px;
    margin-bottom: 20px;
}
#environment-container .environment-detail:nth-child(7) h3{
    padding-left: 10px;
    border-left: 5px solid #BA2904;
    font-size: 20px;
}
#environment-container .environment-detail:nth-child(7) p{
    text-indent: 40px;
    line-height: 50px;
}

.introduce .right li{
    display: none;
}
.introduce .right li.active{
    display: block;
}
.detail-divide{
    background:url(../assets/enterqingdao/detail-divide.png) no-repeat;
    width: 2px;
    height: 160px;
    float: left;
    margin-left: 48px;
}
.pic2{
    background: url(../assets/enterqingdao/enterqingdao2.png) no-repeat;
    width: 463px;
    height: 465px;
}
.pic3{
    background: url(../assets/enterqingdao/enterqingdao3.png) no-repeat;
    width: 496px;
    height: 101px;
    margin-top: 75px;
}
.env_1{
    background: url(../assets/enterqingdao/enter-env1.png) no-repeat;
    width: 937px;
    height: 200px;
    margin-bottom: 70px;
}
.env_2{
    background: url(../assets/enterqingdao/enter-env2.png) no-repeat;
    width: 443px;
    height: 262px;
    margin-top: 40px;
}
.env_3{
    background: url(../assets/enterqingdao/enter-env3.png) no-repeat;
    width: 481px;
    height: 270px;
}
.env_4{
    background: url(../assets/enterqingdao/enter-env4.png) no-repeat;
    width: 392px;
    height: 364px;
    display: inline-block;
    margin-right: 25px;
}
.env_5{
    background: url(../assets/enterqingdao/enter-env5.png) no-repeat;
    width: 538px;
    height: 363px;
    display: inline-block;
}
.env_6{
    background: url(../assets/enterqingdao/enter-env6.png) no-repeat;
    width: 876px;
    height: 153px;
    display: inline-block;
}
.env_7{
    background: url(../assets/enterqingdao/enter-env7.png) no-repeat;
    background-size: 100% 100%;
    width: 438px;
    height: 445px;
}
.env_8{
    background: url(../assets/enterqingdao/enter-env8.png) no-repeat;
    width: 386px;
    height: 166px;
}
.env_9{
    background: url(../assets/enterqingdao/enter-env9.png) no-repeat;
    width: 443px;
    height: 277px;
}
.env_10{
    background: url(../assets/enterqingdao/enter-env10.png) no-repeat;
    width: 970px;
    height: 545px;
}
.env_11{
    background: url(../assets/enterqingdao/enter-env11.png) no-repeat;
    width: 937px;
    height: 600px;
    margin-bottom: 60px;
}
.env_12{
    background: url(../assets/enterqingdao/enter-env12.png) no-repeat;
    width: 194px;
    height: 173px;
    margin: 27px auto 0;
}
.env_13{
    background: url(../assets/enterqingdao/enter-env13.png) no-repeat;
    width: 194px;
    height: 173px;
    margin: 27px auto 0;
}
.env_14{
    background: url(../assets/enterqingdao/enter-env14.png) no-repeat;
    width: 194px;
    height: 173px;
    margin: 27px auto 0;
}
.env_point{
    margin-right: 10px;
}
.red_env_point{
    margin-right: 10px;
    color: #BA2904;
}

/********* 重点发展产业 ****************************************************/
#industry-detail li.active {
    display: block;
}
#industry-detail li {
    display: none;
}

.develop-1{
    background: url(../assets/enterqingdao/develop-1.png) no-repeat;
    width: 1200px;
    height: 325px;
    margin-top: 45px;
}
.industry-container {
    overflow: hidden;
    margin-bottom: 70px;
}
.industry-container>.left{
    width: 226px;
    height: 475px;
    border-right: 1px dashed #666;
    
}

.industry-container a{
    color: #333;
    font-size: 17px;
}
.industry-container li.active a,
.industry-container li:hover a{
    color: #BA2904;
}
.industry-container .left ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
}

.develop-2{
    background: url(../assets/enterqingdao/develop-2.png) no-repeat;
    width: 935px;
    height: 502px;
    margin-bottom: 30px;
}
#industry-detail .industry-detail:nth-child(1) .left{
    width: 440px;
    height: 539px;
    padding-right: 30px;
    box-sizing: border-box;
}
#industry-detail .industry-detail:nth-child(1) .right{
    width: 490px;
    box-sizing: border-box;
    padding-left: 35px;
    border-left: 1px solid #999;
}
#industry-detail .industry-detail{
    text-indent: 40px;
    font-size: 17px;
}
.develop-3{
    background: url(../assets/enterqingdao/develop-3.png) no-repeat;
    width: 935px;
    height: 400px;
    margin-bottom: 30px;
    margin-bottom: 60px;
}
#industry-detail .industry-detail:nth-child(1) .left,
#industry-detail .industry-detail:nth-child(2) .left,
#industry-detail .industry-detail:nth-child(4) .left,
#industry-detail .industry-detail:nth-child(5) .left{
    width: 440px;
    height: 539px;
    padding-right: 20px;
    box-sizing: border-box;
}
#industry-detail .industry-detail:nth-child(1) .right,
#industry-detail .industry-detail:nth-child(2) .right,
#industry-detail .industry-detail:nth-child(4) .right,
#industry-detail .industry-detail:nth-child(5) .right{
    width: 495px;
    box-sizing: border-box;
    padding-left: 23px;
    border-left: 1px dashed #ECBA84;;
}
#industry-detail .industry-detail:nth-child(3){
    width: 900px;
    margin-right: 50px;
}
.develop-4{
    background: url(../assets/enterqingdao/develop-4.png) no-repeat;
    width: 935px;
    height: 450px;
    margin-bottom: 30px;
}
.develop-5{
    background: url(../assets/enterqingdao/develop-5.png) no-repeat;
    width: 935px;
    height: 400px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.develop-6{
    background: url(../assets/enterqingdao/develop-6.png) no-repeat;
    width: 940px;
    height: 400px;
    margin-bottom: 30px;
}
.develop-7{
    background: url(../assets/enterqingdao/develop-7.png) no-repeat;
    width: 940px;
    height: 400px;
    margin-bottom: 30px;
}


/******************* 投资政策 ****************************************/
.policy-1{
    background: url(../assets/enterqingdao/policy-1.png) no-repeat;
    width: 1200px;
    height: 331px;
    margin-top: 45px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.policy-2{
    background: url(../assets/enterqingdao/policy-2.png) no-repeat;
    width: 1200px;
    height: 1452px;
    margin-top: 30px;
    margin-bottom: 30px;
}