.left{
    float: left;
}
.right{
    float: right;
}
/* header */
#header nav>div {
    position: relative;
}
#header{
    width: 100%;
    min-width: 1200px;
    height: 70px;
    background-color: #992115;
    display: flex;
    justify-content: center;
}
.header-container {
    width: 1200px;
}
.header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}

#header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
#header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
#header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 1px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}

#header .menu:hover .dropdownmenu,
#header .dropdownmenu:hover{
	display: flex;
	
    
}
#header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
#header .dropdownmenu li:last-child{
	border: 0;
}
#header .dropdownmenu li:last-child a{
	border: 0;
}
#header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
#header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}
/****footer****/
.copyright .right-img {
    float: left;
    margin: 0.2rem .15rem .1rem .6rem;
    width: 1.14rem;
    height: 0.57rem;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: .2rem .2rem .2rem 0;
    width: .37rem;
    height: .44rem;
}
footer .link {
    width: 12.2rem;
    height: .2rem;
    padding: .35rem 0 .3rem .6rem;
    background-color: #E1E1E1;
    margin: 0 auto;
}
/******************************/

nav{
    font-size: .14rem;
    padding-left: 1.4rem;
    margin-top: .32rem;
}
/************** 文字内容无需自适应 **************/
.title{
    width: 6.24rem;
    margin-top: .4rem;
    text-align: center;
    margin-left: 3.3rem;
}
.title p:nth-child(1){
    line-height: .55rem;
    font-size: .22rem;
    font-weight: 800;
}
.title p:nth-child(2){
    margin-top: .15rem;
}
.content{
    width: 9.82rem;
    margin-left: 1.5rem;
}
.content p{
    text-indent: .4rem;
    font-size: .2rem;
    letter-spacing: 1px;
    line-height: .5rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
}