.left{
    float: left;
}
.right{
    float: right;
}
/* header */
#header nav>div{
    position: relative;
}
#header{
    width: 100%;
    min-width: 1200px;
    height: 70px;
    background-color: #992115;
    display: flex;
    justify-content: center;
}
.header-container {
    width: 1200px;
}
.header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}

#header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
#header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
#header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 2px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}

#header .menu:hover .dropdownmenu,
#header .dropdownmenu:hover{
	display: flex;
	
    
}
#header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
#header .dropdownmenu li:last-child{
	border: 0;
}
#header .dropdownmenu li:last-child a{
	border: 0;
}
#header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
#header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}
/****footer****/
.copyright .right-img {
    float: left;
    margin: 0.2rem .15rem .1rem .6rem;
    width: 1.14rem;
    height: 0.57rem;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: .2rem .2rem .2rem 0;
    width: .37rem;
    height: .44rem;
}
footer .link {
    width: 12.2rem;
    height: .2rem;
    padding: .35rem 0 .3rem .6rem;
    background-color: #E1E1E1;
    margin: 0 auto;
}
/******************************/
.news-banner{
    background: url(../assets/news-banner.png) no-repeat;
    width: 100%;
    height: 370px;
    min-width: 1200px;
    max-width: 1920px;
    display: block;
    background-size: 100% 100%;
    margin: 0 auto;
}
.banner-container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 212px;
    box-sizing: border-box;
}
.news-banner-slogan{
    background: url(../assets/news-banner-slogan.png) no-repeat;
    width: 490px;
    height: 193px;
    background-size: 100% 100%;
}
/************************************/
html{
    font-size: 100px;
}
/* body{
	overflow: overlay;
} */

.main-auto{
    width: 1200px;
    margin: 60px auto;
}
.picNews,
.areaNews{
    overflow: hidden;
    margin-bottom: 60px;
}

.picslist{
    width: 740px;
    height: 400px;
    position:relative;
    overflow:hidden;
    float: left;
}
#pic-block
{
	list-style:none;
    position:absolute;
    left:0px;
    margin:0;
}
#pic-block li
{
	float:left;
    margin:0;
    padding: 0;
	
}
.title .icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    margin: 0 7px;
}
.icon-titleleft{
    background: url(../assets/icon-titleleft.png) no-repeat;
}
.icon-titleright{
    background: url(../assets/icon-titleright.png) no-repeat;
}

main h3+div {
    width: 38px;
    height: 7px;
    margin-left: 70px;
    margin-top: 18px;
    background-color: #e41111;
    border-radius: 3px;
}
#picslist .layui-carousel-ind li{
    padding: 0;
}
#pic-block img{
    width: 560px;
    height: 383px;
}
#picslist {
    float: left;
}
/*************  修改layui轮播导航样式  *************************/
.layui-carousel-ind{
    position: absolute;
    top: 330px;
}
.layui-carousel-ind ul{
    background-color: transparent;
}
.layui-carousel-ind li{
    background-color: #fff;
}
.layui-carousel-ind li.layui-this{
    background-color:#ffed57;;
}
.layui-carousel-ind ul:hover{
    background-color: transparent;
}
.layui-carousel-ind li:hover{
    background-color: #ffed57;
}
/********************************************************************/
#navdiv
{
	position:absolute;
    bottom:35px;	
    left:600px;
}
#navdiv a
{
	float: left;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 10px;
}
.tip-title {
	height:35px;
}
.litter-tip-title {
	margin-bottom:0
}
.tip-title .line {
	float:left;
	width:6px;
	height:28px;
	background-color:#ff4242;
	margin:3px 12px 0 0;
}
.tip-title h2 {
	font-size:26px;
	font-weight:700;
	font-stretch:normal;
	letter-spacing:0;
	color:#333
}
#navdiv a:hover
{
	background-color:#ffed57;
}

.news-more{
    color: #0E3C6A;
    font-size: 18px;
    font-weight: 700;
}
.areaNews .tip-title{
    width:623px;
}
.areaNews .news-more,
.countrynews .news-more,
.zhuanti .news-more{
    float: right;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    margin-top: 6px;
}
.areaNews .title,
.countrynews .title,
.zhuanti .title{
    overflow: hidden;
    padding-bottom: 25px;
    margin-top: 20px;
    border-bottom: 1px dashed #EEEEEE;
}
.title h3{
    font-size: 26px;
    font-weight: 600;
    float: left;
    border-left: 5px solid red;
    padding-left: 20px;
}
.areaNews .right ul{
    width: 736px;
}
.areaNews .policy-touzi{
    background: url(../assets/policy-touzi.png) no-repeat;
    width: 386px;
    height: 435px;
    background-size: 100% 100%;
    padding-top: 153px;
    box-sizing: border-box;
    padding-left: 70px;
}
.policy-touzi a{
    width: 244px;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 26px;
    text-align: center;
    border: 1px solid #BA2904;
    color: #BA2904;
}
.policy-touzi a i{
    margin-right: 10px;
    font-size: 22px;
}
.policy-touzi a:hover{
    color:#fff;
    background-color: #BA2904;
}
.policy-touzi a:nth-child(2){
    margin-top: 65px;
}
/* .policy-bs-btn{
    color:#fff;
    background-color: #BA2904;
}
.policy-personal-btn{
    color: #BA2904;
    border: 1px solid #BA2904;
    margin-top: 65px;
} */
.areaNews .left{
    width: 460px;
}
.countrynews .left,
.countrynews .right{
    width: 560px;
}
.areaNews li,
.countrynews li{
    padding-top: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.areaNews li{
    width: 730px;
}
.countrynews li{
    width: 530px;
}
.areaNews li p,
.countrynews li p{
    display: inline;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.areaNews li time,
.countrynews li time  {
    float: right;
    margin-right: 16px;
}
.areaNews .point,
.countrynews .point{
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.countrynews .right .point{
    margin-right: 10px;
}

.picNews .news-title{
    font-size: 21px;
    height: 69px;
    line-height: 34px;
    border-bottom: 1px dashed #666;
}
.picNews .news-content{
    margin-top: 20px;
    text-indent: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 16px;
}
.picNews .news-title time{
    font-size: 16px;
    float: right;
}
.newslist{
    width: 433px;
    height:400px;
    float: left;
    margin-left: 20px;
    position: relative;
}
.newslist .news-detail{
    margin-top: 25px;
}
.picNews .news-more{
    float: right;
    position: absolute;
    bottom: 35px;
    right: 0;
}
.news-ad{
    width: 300px;
    height: 424px;
    width: 289px;
}
.twoMeeting{
    width: 1200px;
    height: 184px;
}
.news-special{
    width: 364px;
    height: 57px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.layui-icon.layui-carousel-arrow{
    padding: 0;
}

.areaNews li p a, .countrynews li p a{
    color: #464646;
}
.zhuanti {
    margin-top: 50px;
}
.zhuanti ul{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: #F3F3F3;
    padding-top: 10px;
    margin-top: 30px;
}

.zhuanti-pic1{
    background: url(../assets/zhuanti-pic1.png) no-repeat;
    width: 319px;
}
.zhuanti-pic2{
    background: url(../assets/zhuanti-pic2.png) no-repeat;
    width: 255px;
}
.zhuanti-pic3{
    background: url(../assets/zhuanti-pic3.png) no-repeat;
    width: 264px;
}
.zhuanti-pic4{
    background: url(../assets/zhuanti-pic4.png) no-repeat;
    width: 299px;
}
.zhuanti li a {
    height: 169px;
    display: inline-block;
    background-size: contain;
}

.twoMeeting {
    width: 1200px;
    height: 184px;
    margin-top: 45px;
}


/***************************************************/

.service-list{
	width: 100%;
	max-width: 1920px;
	height: 180px;
    background-color: rgba(185, 26, 45, 0.85);
	margin: 0 auto;
}
.service-list .list-ul {
    width: 1200px;
    margin: 0 auto;
}
 .service-list .list-ul li {
    width: 399px;
    height: 60px;
    float: left;
    border-right: 1px solid #A3372C;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 60px;
    cursor: pointer;
}
.service-list .list-ul li:nth-child(1){
	width: 395px;
	border-left: 1px solid #A3372C;
}
.service-list .list-ul ul li span {
    border-bottom: 2px solid transparent;
    padding-bottom: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service-list .list-ul ul li a{
    color: #fff;
    padding-bottom: 16px;
}
.service-list .list-ul ul li:hover span,
.service-list .list-ul ul li.active span {
    color: #d0c27c;
    border-bottom: 2px solid #d0c27c;
}
.service-list .list-ul ul li:hover a,
.service-list .list-ul ul li.active a {
    color: #d0c27c;
    border-bottom: 2px solid #d0c27c;
}
.service-list .list-main {
    width: 1200px;
    height: 119px;
    margin: 0 auto;
}
._hidden {
    display: none !important;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.service-list .list-main ul {
    margin-top: 33px;
}
.service-list .list-main ul li {
    width: 260px;
    margin: 0 0 0 40px;
    font-size: 16px;
    margin-bottom: 22px;
    float: left;
}
.service-list .list-main ul li a{
	color: #fff;
}
.service-list .list-main ul li a:hover {
    color: #d0c27c;
}