html{
    font-size: 100px;
}

.left{
    float: left;
}
.right{
    float: right;
}
/* header */
#header nav>div {
    position: relative;
}
#header{
    width: 100%;
    min-width: 1200px;
    height: 70px;
    background-color: #992115;
    display: flex;
    justify-content: center;
}
.header-container {
    width: 1200px;
}
.header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}

#header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
#header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
#header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 2px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}

#header .menu:hover .dropdownmenu,
#header .dropdownmenu:hover{
	display: flex;
	
    
}
#header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
#header .dropdownmenu li:last-child{
	border: 0;
}
#header .dropdownmenu li:last-child a{
	border: 0;
}
#header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
#header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}
/****footer****/
.copyright .right-img {
    float: left;
    margin: 0.2rem .15rem .1rem .6rem;
    width: 1.14rem;
    height: 0.57rem;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: .2rem .2rem .2rem 0;
    width: .37rem;
    height: .44rem;
}
footer .link {
    height: .2rem;
    padding: .35rem 0 .3rem .6rem;
    background-color: #E1E1E1;
    margin: 0 auto;
}
/******************************/
.news-banner{
    background: url(../assets/news-banner.png) no-repeat;
    width: 100%;
    height: 370px;
    min-width: 1200px;
    max-width: 1920px;
    display: block;
    background-size: 100% 100%;
    margin: 0 auto;
}
.banner-container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 212px;
    box-sizing: border-box;
}
.news-banner-slogan{
    background: url(../assets/news-banner-slogan.png) no-repeat;
    width: 490px;
    height: 193px;
    background-size: 100% 100%;
}
/************************************/
/* 新闻列表样式 */
main{
    width: 11.96rem;
    padding-left: .46rem;
}
main h3{
    font-size: .24rem;
    font-weight: 600;
}
main .title{
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: .2rem;
}
.title .icon{
    width: .25rem;
    height: .25rem;
    display: inline-block;
    background-size: contain;
    margin: 0 .07rem;
}
.icon-titleleft{
    background: url(../assets/icon-titleleft.png) no-repeat;
}
.icon-titleright{
    background: url(../assets/icon-titleright.png) no-repeat;
}
main>div{
    overflow: hidden;
    margin-top: .62rem;
}
main h3+div {
    width: .38rem;
    height: .07rem;
    margin-left: .7rem;
    margin-top: .18rem;
    background-color: #e41111;
    border-radius: 3px;
}
.news-more{
    float: right;
    color: #0E3C6A;
    font-size: .18rem;
    font-weight: 700;
    margin-top: .2rem;
}
.goventmentaffairs .title{
    width: 8.67rem;
}
.goventmentaffairs .newslist{
    width: 8.67rem;
}
.goventmentaffairs .newslist,
.goventmentaffairs .ad{
    float: left;
}
.news-ad {
    width: 2.88rem;
    height: 4.2rem;
    margin-left: .4rem;
}
.newslist li{
    border-bottom: 1px dashed #666;
    padding-top: .16rem;
    height: .42rem;
    line-height: .42rem;
}
.newslist li p{
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    font-size: .18rem;
    width: 7.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.newslist li time{
    float: right;
    margin-right: .16rem;
}
.icon-point {
    border: 1px solid #333;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -.06rem;
    margin-right: .1rem;
}
.twoMeeting {
    width: 12rem;
    height: 1.84rem;
    margin-top: .38rem;
}
.newslist p a{
    color: #464646;
}


#header .menu:hover .icon-menu-hover {
    bottom: 1px;
}
nav{
    font-size: .14rem;
    padding-left: .46rem;
    margin-top: .3rem;
}
main>div {
    margin-top: .36rem;
}

.newslist{
    width: 12rem;
}
.title {
    /* width: 8.67rem; */
    padding-left: 5rem;
}
.newslist li p{
    width: 10.5rem;
}
#pages{
    margin-top: .86rem;
    margin-bottom: .76rem;
    margin-left: 3rem;
}
