.left{
    float: left;
}
.right{
    float: right;
}
/* header */
#header nav>div{
    position: relative;
}
#header{
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    height: 70px;
    background-color: #992115;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.header-container {
    width: 1200px;
}
.header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}

#header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
#header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
#header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 2px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}

#header .menu:hover .dropdownmenu,
#header .dropdownmenu:hover{
	display: flex;
	
    
}
#header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
#header .dropdownmenu li:last-child{
	border: 0;
}
#header .dropdownmenu li:last-child a{
	border: 0;
}
#header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
#header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}
/****footer****/
.copyright .right-img {
    float: left;
    margin: 0.2rem .15rem .1rem .6rem;
    width: 1.14rem;
    height: 0.57rem;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: .2rem .2rem .2rem 0;
    width: .37rem;
    height: .44rem;
}
footer .link {
    height: .2rem;
    padding: .35rem 0 .3rem .6rem;
    background-color: #E1E1E1;
    margin: 0 auto;
}
/******************************/
html{
    font-size: 100px;
}
/* body{
	overflow: overlay;
} */

.banner{
    width: 12.8rem;
    max-width: 1920px;
    height: 2.98rem;
    background: url(../assets/banner-onetime.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
/** search ************/
.search-container {
	margin:.6rem auto 0;
	width: 9.6rem;
}
.search-container .ai-icon {
	background: url(../assets/handle-robot.png) no-repeat;
	width:.54rem;
	height: .48rem;
	margin-right: .3rem;
	background-size: 100% 100%;
}
.search-container .ai-bg {
	width:1.8rem;
	height:.57rem;
	line-height:.57rem;
	text-align:center;
	background-color:#f3620b;
	font-size:.2rem;
	font-weight:700;
	color:#fff
}
.search-container input {
	width:4.6rem;
	height:.58rem;
	border:none;
	padding:0 0 0 .4rem;
	background-color:#eee;
	border-radius:0 10px 10px 0;
	font-size:.2rem;
	color:#393838
}
#main,.search-container input {
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
#login, #register {
    width: .92rem;
    height: .32rem;
    font-size: .2rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff5454;
    margin-top: .22rem;
    margin-left: .2rem;
}
#register {
    margin-left: .08rem;
    background-color: #115496;
}

#main-container{
    width: 11.9rem;
    padding: .25rem .45rem;
    margin: 0 auto;
}
/*** 常用功能   ********************************/
.common-functions-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .25rem .15rem;
}
.common-functions-list li{
    float: left;
    text-align: center;
    height: .42rem;
    line-height: .42rem;
    border-radius: .2rem;
    font-size: .18rem;
    font-weight: 700;
    padding: 0 .2rem;
    cursor: pointer;
}
.common-functions-list li.active{
    background-color: #E41111;
    color: #fff;
}
.common-functions-process{
    width: 11.9rem;
    height: 4.7rem;
    -webkit-box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    border-radius: 6px;
}
.common-functions-process .left{
    width: 4.26rem;
    height: 4.7rem;
    float: left;
    border-right: 1px solid #D8D8D8;
}
.common-functions-process .title{
    font-size: .28rem;
    padding-top: .5rem;
    padding-left: .4rem;
    color:#F3620B;
}
.process-list{
    height: 3.2rem;
    margin-top: .48rem;
    display: flex;
    flex-direction: column;
    margin-left: .4rem;
    font-size: .2rem;
    font-weight: 600;
    justify-content: space-between;
}
.process-list a{
    color: #464646;
}
.process-list li{
    cursor: pointer;
}
.process-list .icon-onetime-star{
    width: .26rem;
    height: .26rem;
    background-size: contain;
    display: inline-block;
    margin-right: .14rem;
}
.common-functions-process .right{
    float: left;
    width: 7.5rem;
    padding-left: .1rem;
    position: relative;
}
.common-functions-process .right table{
    margin-top: .2rem;
}
.common-functions-process .right th {
    font-size: .26rem;
    height: 1rem;
    vertical-align: middle;
}
.right th:nth-child(2){
    color: #F3620B;
}
.right th:nth-child(3){
    color: #115496;
}
.beforecolor{
    color: #F3620B;
}
.aftercolor{
    color: #115496;
}
.common-functions-process .right td {
    font-size: .2rem;
    width: 2.3rem;
    height: .6rem;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}
.common-functions-process .right .icon{
    width: .3rem;
    height: .3rem;
    background-size: contain;
    display: inline-block;
    margin-right: .12rem;
}
.common-functions-process .right button{
    background-color: #115496;
    width: 1.97rem;
    height: .65rem;
    margin: .2rem auto;
    display: inherit;
    color: #fff;
    font-weight: 600;
    font-size: .18rem;
    letter-spacing: 1px;
    border-radius: 6px;
}
.common-functions-process .right .icon.icon-handle-arrow{
    background: url(../assets/icon-onetime-arrow.png) no-repeat;
    width: .74rem;
    height: .36rem;
    position: absolute;
    right: 2.3rem;
    top: 2.2rem;
    background-size: contain;
}
.icon-onetime-star{
    background: url(../assets/icon-onetime-star.png) no-repeat;
}
.icon-onetime-time{
    background: url(../assets/icon-onetime-time.png) no-repeat;
}
.icon-onetime-run{
    background: url(../assets/icon-onetime-run.png) no-repeat;
}
.icon-onetime-material{
    background: url(../assets/icon-onetime-material.png) no-repeat;
}
.icon-onetime-verification{
    background: url(../assets/icon-onetime-verification.png) no-repeat;
}

/*********** 中间图标区域样式  ******************************/

.type{
    height: 1.76rem;
    width: 11.9rem;
    -webkit-box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    border-radius: 6px;
    margin-top: .42rem;
}
.type ul{
    display: flex;
}
.type li{
    width: 2.98rem;
    height: 1.28rem;
    text-align: center;
    border-right: 1px solid #D8D8D8;
    margin-top: .28rem;
    font-size: .2rem;
    cursor: pointer;
}
.type li p{
    color: #464646;
}
.type li .icon{
    width: .42rem;
    height: .42rem;
    background-size: contain;
    display: inline-block;
    margin-top: .16rem;
    margin-bottom: .26rem;
}
.type li:nth-child(4){
    border: 0;
}
.icon-onetime-seal{
    background: url(../assets/icon-onetime-seal.png) no-repeat;
}
.icon-onetime-backup{
    background: url(../assets/icon-onetime-backup.png) no-repeat;
}
.icon-onetime-tax{
    background: url(../assets/icon-onetime-tax.png) no-repeat;
}
.icon-onetime-building{
    background: url(../assets/icon-onetime-building.png) no-repeat;
}

/*********** 按服务类型  ******************************/

.servicetype{
    height: 6.95rem;
    width: 11.9rem;
    -webkit-box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    border-radius: 6px;
    margin-top: .42rem;
}
.servicetype .left,
.servicetype .right{
    float: left;
}
.servicetype .tabs{
    display: flex;
    margin-top: .52rem;
    margin-left: .47rem;
    cursor: pointer;
}
.tabs .tab-item{
    width: 1.2rem;
    height: .56rem;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs .tab-item.active{
    background-image: linear-gradient(45deg, #0CBEED, #4888E0);
    color: #fff;
}
.servicetype .content{
    width: 3.6rem;
    margin-left: .47rem;
    background-color: #F7F7F7;
}
.serviceDetail{
    display: none;
}
.serviceDetail.active{
    display: flex;
}
.serviceDetail{
    flex-wrap: wrap;
    padding-top: .1rem;
    padding-bottom: .1rem;
    cursor: pointer;
}
.content li{
    width: 1rem;
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .12rem;
    padding: 0 .1rem;
}
.content li a{
    color: #464646;
}
.content li.active{
    color: #2D76BD;
}

.servicetype .right {
    margin-top: .53rem;
    margin-left: .35rem;
}
.servicetype .right li{
    width: 7rem;
    height: .44rem;
    margin-bottom: .1rem;
    border: 1px solid #EFEFEF;
    position: relative;
    cursor: pointer;
}
.servicetype .right li p{
    float: left;
    height: 0.44rem;
    line-height: .44rem;
    margin-left: .16rem;
    cursor: pointer;
}
.servicetype .right li p a{
    color: #464646;
}
.servicetype .right li button{
        width: .8rem;
        height: .32rem;
        line-height: .32rem;
        text-align: center;
        background-image: linear-gradient(45deg, #0CBEED, #4888E0);
        border: 0;
        font-size: .12rem;
        padding: 0;
        color: #fff;
        position: absolute;
        right: .14rem;
        top: .06rem;
}
/* .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #EC6156;
} */
#pages{
    /* width: 452px; */
    margin: 0 auto;
}
.layui-laypage input:focus, .layui-laypage select:focus{
    border-color: #EC6156 !important;
}
.layui-laypage a, .layui-laypage span{
    padding: 0 9px;
}
