.left{
    float: left;
}
.right{
    float: right;
}
/* header */
#header nav>div {
    position: relative;
}
#header{
    width: 100%;
    min-width: 1200px;
    height: 70px;
    background-color: #992115;
    display: flex;
    justify-content: center;
}
.header-container {
    width: 1200px;
}
.header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}

#header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
#header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
#header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 2px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}

#header .menu:hover .dropdownmenu,
#header .dropdownmenu:hover{
	display: flex;
	
    
}
#header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
#header .dropdownmenu li:last-child{
	border: 0;
}
#header .dropdownmenu li:last-child a{
	border: 0;
}
#header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
#header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}
/****footer****/
/* .copyright{
    width: 12.8rem;
}
.copyright .right-img {
    float: left;
    margin: 0.2rem .15rem .1rem .6rem;
    width: 1.14rem;
    height: 0.57rem;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: .2rem .2rem .2rem 0;
    width: .37rem;
    height: .44rem;
}
footer .link {
    width: 12.2rem;
    height: .2rem;
    padding: .35rem 0 .3rem .6rem;
    background-color: #E1E1E1;
    margin: 0 auto;
} */
/******************************/
html{
    font-size: 100px;
}
#main,.search-container input {
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

main{
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.search-container{
    margin: 0 auto;
    width: 580px;
    height: 57px;
}
.search-container input{
    width: 460px;
    height: 57px;
    border: none;
    padding: 0 0 0 40px;
    background-color: #eee;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    color: #393838;
 }
 .search-container .ai-bg {
    width: 118px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background-color: #C22F0A;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 0 10px 10px 0;
}
.servicetype{
    width: 1184px;
    height: 220px;
    margin: 65px 8px 0;
}
.servicetype .tabs{
    display: flex;
    flex-direction: column;
    width: 164px;
}
.tabs .tab-item{
    width: 162px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #e5e5e5;
    font-weight: 600;
    cursor: pointer;
}
.tabs .tab-item.active{
    background-color: #c22f0a;
    color: #fff;
}

.servicetype .left,
.servicetype .right{
    float: left;
}
.serviceDetail{
    display: none;
}
.serviceDetail.active{
    display: flex;
}
.serviceDetail{

    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1020px;
    height: 168px;
    border: 1px solid #c22f0a;
    box-sizing: border-box;
}
.serviceDetail li{
    width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.servicetype .right li.active a{
    color: #c22f0a;
    border-bottom: 3px solid #c22f0a;
}
.servicetype .selected{
    width: 1020px;
    /* height: 1.58rem; */
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 0 10px 10px;
    box-sizing: border-box;
}
.selected p,.selected ul,.selected li {
    display: inline-block;
    color: #AEADAD;
}
.selected button{
    position: absolute;
    border: 0;
    background-color: transparent;
    color: blue;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.right .selected li{
    width: fit-content;
    height: 28px;
    border: 1px solid #c22f0a;
    margin-top: 16px;
    margin-right: 10px;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 3px;
    padding-left: 13px;
    color: #c22f0a;
}
.selected .icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 15px;
    background-size: contain;
    font-style: normal;
    cursor: pointer;
    color: #c22f0a;
}
.icon.icon-delete{
    background: url(../assets/handle/delete.png) no-repeat;
    width: 23px;
    height: 26px;
}
/********************************************************************/
.servicelist{
    margin-top: 70px;
    overflow: auto;
    padding-left: 8px;
}
.cardlist{
    float: left;
    width: 810px;
}
.cardlist li{
    width: 780px;
    border: 2px solid #EFEFEF;
    border-radius: 4px;
    margin-bottom: 20px;
}
.cardlist li .title{
    height: fit-content;
    font-size: 18px;
    font-weight: 700;
    color: #53504D;
    border-bottom: 2px solid #EFEFEF;
    padding-left: 18px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
.cardlist .content{
    position: relative;
    color: #888888;
    padding-top: 10px;
}
.cardlist .content p{
    height: 30px;
    line-height: 30px;
}
.cardlist .content p:nth-child(1){
    font-size: 18px;
}
.cardlist .icon-point{
    width: 5px;
    height: 5px;
    background-color: #888;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 19px;
}
.cardlist .agency{
    margin-left: 40px;
    font-size: 14px;
}
.btncontainer{
    position: absolute;
    right: 13px;
    top:23px;
}
.btncontainer button{
    width: 88px;
    height: 34px;
    font-size: 12px;
    border-radius: 4px;
}
.btncontainer button:nth-child(1){
    background-color: #fff;
    border-color: #BA3706;
    color: #BA3706;
}
.btncontainer button:nth-child(2){
    background-color: #BA3706;
    color: #fff;
    border: 0;
    margin-left: 13px;
}
#pages{
    width: 810px;
    float: left;
    margin-top: 30px;

}
.recommend .icon{
    width:45px;
    height: 13px;
    display: inline-block;
    background-size: contain;
}
.icon-search-first{
    background: url(../assets/handle/icon-search-first.png) no-repeat;
}
.icon-search-second{
    background: url(../assets/handle/icon-search-second.png) no-repeat;
}
.icon-search-third{
    background: url(../assets/handle/icon-search-third.png) no-repeat;
}
.servicelist .recommend{
    height: 600px;
    width: 355px;
    float: right;
    margin-right: 20px;
    padding-left: 30px;
    border-left: 2px solid #efefef;
    box-sizing: border-box;
}
.recommend .title{
    border-bottom: 2px solid #efefef;
    padding-bottom: 15px;
}
.servicelist .recommend li{
    width: 237px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px dashed #C5C5C5;
    cursor: pointer;
}
.servicelist .recommend li a{
    color:#464646;
}
.serviceDetail li a{
    color: #464646;
    padding-bottom: 10px;
}

.layui-laypage {
    display: block;
    vertical-align: middle;
    margin: 10px auto;
    font-size: 0;
    width: fit-content;
}
.layui-laypage a:hover{
    color: #EB4B3F;
}