.left{
    float: left;
}
.right{
    float: right;
}
body {
    background: #f9f9f9;
}
header nav a.active {
    color: #ffed57;
    border-bottom: 5px solid #ffed57;
}
/* header */
header nav>div{
    position: relative;
}
header{
    width: 100%;
    min-width: 1200px;
    height: 70px;
    background-color: #992115;
    display: flex;
	justify-content: center;
	max-width: 1920px;
	margin: 0 auto;
}
header .header-container {
    width: 1200px;
}
header .header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    float: left;
}

header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 2px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
	z-index: 1;
}

header .menu:hover .dropdownmenu,
header .dropdownmenu:hover{
	display: flex;
	
    
}
header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
header .dropdownmenu li:last-child{
	border: 0;
}
header .dropdownmenu li:last-child a{
	border: 0;
}
header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}

/****footer****/
.copyright .right-img {
    float: left;
    margin: 020px 15px 10px 60px;
    width: 114px;
    height: 57px;
}
.copyright ul li span {
    padding-right: 17px;
}
.copyright .center-img {
    float: left;
    margin: 20px 20px 20px 0;
    width: 37px;
    height: 44px;
}
footer .link {
	width: 100%;
    max-width: 1920px;
    height: 20px;
    padding: 35px 0 30px 0;
    background-color: #E1E1E1;
    margin: 0 auto;
}
/******************************/
html{
	font-size: 100px;
}
#banner{
	width: 100%;
	background: url(../assets/handle/handle-banner-welcome.png) no-repeat;
    position: relative;
    background-size: 100% 100%;
	height: 650px;
	max-width: 1920px;
	max-height: 750px;
	margin: 0 auto;
}
#banner .banner-container {
	width: 1200px;
    margin: 0 auto;
	padding-top: 124px;
}
#banner .banner-container .left {
    margin-left: 42px;
    margin-top: 20px;
}
#banner .banner-slogan {
	background: url(../assets/handle-banner-slogan.png) no-repeat;
	width: 693px;
    height: 116px;
	background-size: 100% 100%;
}

#lr {
	width: 367px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 180px;
}

#lr h1 {
    font-size: 28px;
    color: #FFF;
    margin-bottom: 36px;
    margin-top: 36px;
    letter-spacing: 3px;
    text-align: center;
}
#lr div {
	text-align:center
}
#login,#register {
    width: 119px;
    height: 39px;
    line-height: 39px;
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #99160A;
    border: 1px solid #fff;
    border-radius: 30px;
    display: inline-block;
}
#login:hover,#register:hover{
    color: #99160A;
    background-color: #FFF;
}
#register {
    margin-left: 30px;
}

.notice-container{
	position: absolute;
	width: 100%;
	bottom:0;
	background-color: rgba(255,255,255,0.9);
}
#notice {
	width:1200px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
}
#notice ul{
	margin-left: 150px;
}
#notice .notice-icon {
	height:21px;
	font-size:21px;
	color:#424242;
	padding-left: 27px;
}
.icon-handle-notice{
	background: url(../assets/icon-handle-notice.png) no-repeat;
	height: 20px;
    width: 20px;
    background-size: contain;
}
#notice li {
	color:#115496;
	width:310px;
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	margin-left:30px;
	font-size: 16px;
}
#notice .f-right {
	font-size:18px;
	color:#053565;
	margin-right: 50px;
	margin-top: 0;
}
#notice a {
	color:#053565
}
#notice i {
	display:inline-block;
	vertical-align:-2px;
	margin-right:10px
}
.search-container {
	width:770px;
	margin: 30px 0 0;
	float: left;
}
.search-container .button{
	float: right;
    width: 60px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background-color: #97310E;
    border: 1px solid #eee;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
	padding: 0;
	border-radius: 4px;
}
.search-container .ai-icon {
	background: url(../assets/handle-robot.png) no-repeat;
	width: 33px;
    height: 40px;
    margin-left: 24px;
    background-size: contain;
    margin-top: 10px;
    margin-right: 0;
}
.search-container .ai-bg {
	height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #97310E;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    width: 121px;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-left: 0;
}
.search-container input {
	width: 445px;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    border: 1px solid #E5DAD8;
    padding: 0 0 0 40px;
    background-color: #E5DAD8;
    font-size: 16px;
    color: #414141;
}

/*************** main ****************************************/
#main{
    width: 1200px;
    margin: 0 auto;
}

#main h2{
    font-size: 23px;
    font-weight: bold;
}
.main-detail{
    margin-top: 30px;
}
.main-detail-title{
    /* color: #c2470b; */
    color: #992115;
}
.main-detail-title i{
    /* color: #c2470b; */
    color: #992115;
    font-size: 30px;
    margin-right: 17px;
}
.hot-service{
    margin-bottom: 34px;
}

.talent-service-details{
	display: none;
}
.theme{
    margin-left: 15px;
    height: 20px;
    display: inline-block;
}
.theme a{
    float: left;
    font-size: 20px;
    color: #878787;
    margin: 0 68px ;
    padding-bottom: 16px;
}
.theme .choose-style{
    /* color: #c34b13;
    border-bottom: 4px solid #ba2904; */
    color: #992115;
    border-bottom: 4px solid #992115;
}
.theme .person-service.choose-style{
    /* color: #c2470b;
    border-bottom: 4px solid #c2470b; */
    color: #992115;
    border-bottom: 4px solid #992115;
}
.theme .line-center{
    float: left;
    width: 3px;
    height: 23px;
    background-color: #c2470b;
}
.back-style{
    background-color: #fff;
    border:1px solid #f3f3f3 ;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.left-details{
    width: 354px;
    height: 330px;
    float: left;
    margin-top: 15px;
    margin-left: 8px;
}
.left-details ul{
    margin: 0;
}
.left-details ul li{
    float: left;
    width: 136px;
    height: 106px;
    background-color: #f3f3f3;
    color: #464646;
    border-radius: 4px;
    font-size: 15px;
}
.service-details .left-details li{
    margin-top: 35px;
    margin-left: 27px;
}

.service-details .left-details li:nth-child(3),
.service-details .left-details li:nth-child(4){
    margin-top: 40px;
}
.left-details ul li i{
    display: block;
    text-align: center;
    font-size: 38px;
    /* color: #ba2904; */
    color: #992115;
    margin-top: 14px;
    margin-bottom: 7px;
}
.left-details ul li p{
    color: #464646;
    text-align: center;
}
.right-details{
    float: left;
    width: 816px;
    height: 330px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.right-details ul{
    width: 820px;
    margin: 12px 0 30px 35px;
    display: flex;
    flex-wrap: wrap;
}
.right-details ul li{
    float: left;
    width: 310px;
    line-height: 45px;
    height: 40px;
    margin-right: 50px;
    color: #545454;
    font-size: 15px;
    border-bottom: 1px dashed #E2E2E2;
}
.business-service-details .right-details ul li:nth-child(13){
    width: 500px;
}
.talent-service-details .right-details li{
    width: 356px;
    margin-right: 30px;
}

.right-details ul li a{
    color: #545454;
}
.right-details ul li i{
    font-size: 20px;
    margin-right: 10px;
}
.secondary-menu{
    height: 35px;
	margin-top: 30px;
    margin-bottom: 20px;
}
.secondary-menu h2{
    float: left;
}
.secondary-menu a{
    float: right;
    color: #676767;
    font-size: 16px;
}
.main-enterprise h2 i{
    font-size: 30px;
    /* color: #e41111; */
    color: #992115;
    margin-right: 17px;
}
.main-enterprise h2,.main-enterprise text{
    /* color: #e41111; */
    color: #992115;
}
.main-talent h2 ,.main-talent text{
    /* color: #f3620b; */
    color: #992115;
}
.main-talent h2 i{
    font-size: 30px;
    /* color: #f3620b; */
    color: #992115;
    margin-right: 17px;
}
.main-features h2 i{
    font-size: 30px;
    color: #992115;
    margin-right: 17px;
}
.main-features ul li i {
    color: #992115;
}
.main-features h2, .main-features text{
    color: #992115;
}
.main-features ul{
	width: 1120px;
	display: flex;
	justify-content: space-around;
    float: left;
}
#arrow-left,
#arrow-right{
	width: 35px;
    height: 206px;
    line-height: 206px;
    float: left;
    margin-top: 10px;
    font-size: 30px;
    color: #992115;
}
#arrow-left{
    /* background: url("../assets/handle/arrow-left.png") no-repeat;
    background-size: 100% 100%; */
}
#arrow-right{
    /* background: url(../assets/handle/arrow-left.png) no-repeat;
    background-size: 100% 100%; */
    transform: rotateY(180deg);
}
.main-enterprise,.main-talent{
}
.main-enterprise ul,.main-talent ul{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8px;
}
.main-enterprise ul li,.main-talent ul li{
	width: 270px;
    height: 220px;
    margin: 15px 0;
}
.main-enterprise ul .back-style-right,.main-talent ul .back-style-right{
    margin-right: 6px;
}
.main-enterprise ul li p, .main-talent ul li p, .main-features ul li p{
    text-align: center;
    color: #545454;
    font-size: 18px;
}
.main-enterprise ul li:hover p, .main-talent ul li:hover p, .main-features ul li:hover p{
	color:#fff;
}
.main-features ul li{
    width: 246px;
    height: 206px;
    margin: 10px 0;
}
.main-features ul .back-style-right, .main-service ul .back-style-right{
    margin-right: 0;
}
.main-service{
    margin-bottom: 64px;
}
.main-service h2{
    /* color: #BE510F; */
    color: #992115;
}
.main-service ul{
    width: 1200px;
    height: 218px;
}
.main-service h2 i {
    font-size: 30px;
    /* color: #BE510F; */
    color: #992115;
    margin-right: 17px;
}
.main-service ul li{
    float: left;
    margin-right: 60px;
}
.main-service ul li:nth-child(4){
    margin-right: 0;
}
.main-service ul li a{
    width: 255px;
    height: 197px;
    color: #545454;
    background-color: #F6F6F6;
    text-align: center;
    font-size: 17px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-service ul li .img{
    width: 255px;
    height: 163px;
    background-color: rgba(255, 87, 34, 0.58);
    border-radius: 4px;
    display: block;
    margin-bottom: 7px;
}
.main-service ul li .zhezhao{
    display: none;
    width: 255px;
    height: 197px;
    background-color: rgba(153, 33, 21, 0.9);
    color: #fff;
    position: absolute;
    top: 15px;
}

.main-service ul li:hover .zhezhao{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: top 0.3s;
}
.handle-canbaoxinxi{
    background: url(../assets/handle/handle-canbaoxinxi.png) no-repeat;
    background-size: cover;
}
.handle-churujing{
    background: url(../assets/handle/handle-churujing.png) no-repeat;
    background-size: cover;
}
.handle-gongjijin{
    background: url(../assets/handle/handle-gongjijin.png) no-repeat;
    background-size: cover;
}
.handle-qiyeinfo{
    background: url(../assets/handle/handle-qiyeinfo.png) no-repeat;
    background-size: cover;
}
.style-same ul li .icon-container{
    display: block;
    text-align: center;
    height: 65px;
    position: relative;
    width: 70px;
    margin: 45px auto 35px;
    overflow: hidden;
}
.style-same ul li .icon-container i{
    color: #992115 ;
    position: absolute;
    top: 0;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.style-same ul li:hover .icon-container i{
    color: #fff;
}
.style-same ul li .icon-container i.active{
    top: 150px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.style-same ul li:hover .icon-container i{
    top: -150px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.style-same ul li:hover .icon-container i.active{
    top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.style-same ul li i{
    display: block;
    text-align: center;
    font-size: 57px;
    margin-top: 45px;
    margin-bottom: 35px;
}
.main-enterprise ul li i{
    /* color: #e41111; */
    color: #992115;
}
.main-talent ul li i{
    /* color: #f3620b; */
    color: #992115;
}
/* .main-enterprise ul li:hover i,.main-talent ul li:hover i{
	color: #fff;
} */
.main-features ul li i{
    display: block;
    text-align: center;
    font-size: 45px;
    margin-top: 42px;
    margin-bottom: 30px;
}
.main-features ul li i.icon-butieshenling1,
.main-features ul li i.icon-zhiyezige,
.main-features ul li i.icon-canbaoxinxi{
    margin-bottom: 20px;
}
.main-service ul li i{
    display: block;
    text-align: center;
    font-size: 55px;
    color: #037f37;
    margin-top: 10px;
}
ul li a:hover>p{
    color: #ffffff;
}
ul li a:hover>i{
    color: #ffffff;
}
.left-details ul li:hover{
    /* background-color: #c2470b; */
    background-color: #992115;
}
.left-details ul li:hover i{
    color: #fff;
}
.left-details ul li:hover p{
    color: #fff;
}
/* .talent-service-details .left-details ul li i{
    color: #F3620B;
}
.talent-service-details .left-details ul li:hover{
    background-color: #F3620B;
} */
.talent-service-details .left-details ul li:hover i{
    color: #fff;
}
.main-enterprise ul li:hover{
    /* background-color: #e41111; */
    background-color: #992115;
}
.main-enterprise ul li:hover a,
.main-talent ul li:hover a.
.main-features ul li:hover a{
	color: #fff;
}
.main-talent ul li:hover{
    /* background-color: #f3620b; */
    background-color: #992115;
}
.main-features ul li:hover{
    background-color: #992115;
}
.main-features ul li:hover i{
    color: #fff;
}

.right-details ul li a:hover>i{
    /* color: #e84718; */
    color: #992115;
}
.right-details ul li a:hover{
    /* color: #e84718; */
    color: #992115;
}


/*********************************************************/


.may-do{
	float: left;
    width: 566px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.may-do a{
    width: 93px;
    height: 44px;
    background-color: #EDEDED;
    border: 1px solid transparent;
    padding: 5px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.may-do a:hover,
.may-do a.active{
	border-color: #D64E1E;
}
.may-do img {
	width:76px;
	height: 20px;
	vertical-align: text-top;
}
.may-do li:nth-child(5) a{
    width: 111px;
}
.may-do li:nth-child(5) img{
    width: 89px;
}
#banner .service-list{
	width: 100%;
	height: 180px;
    background-color: rgba(153, 33, 21, 0.8);
	position: absolute;
	bottom: 60px;
}
#banner .service-list .list-main {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
}