.left{
    float: left;
}
.right{
    float: right;
}
/* header */
#header nav>div{
    position: relative;
}
#header{
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    height: 70px;
    background-color: #992115;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.header-container {
    width: 1200px;
}
.header-container .logo{
    background: url(../assets/handle/search-banner-welcome.png) no-repeat;
    width: 205px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}

#header nav{
    margin-right: 24px;
    height: 70px;
    line-height: 70px;
    margin-top: 0;
}
#header nav a {
    font-size: 18px;
    font-stretch: normal;
    color: #fff;
    margin-right: 40px;
    /* padding-bottom: 16px; */
    padding: 0 5px 18px;
    /* font-weight: 600; */
    /* text-shadow: 0 9px 10px rgba(6,45,81,.43);*/
}


.icon-menu-hover {
    display: none;
}
#header .menu:hover .icon-menu-hover {
    display: inline-block;
    bottom: 2px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#header .menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}

#header .menu:hover .dropdownmenu,
#header .dropdownmenu:hover{
	display: flex;
	
    
}
#header .dropdownmenu li{
	padding-right: 0;
    border-right: 1px solid #464646;
    line-height: 20px;
}
#header .dropdownmenu li:last-child{
	border: 0;
}
#header .dropdownmenu li:last-child a{
	border: 0;
}
#header .dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
    padding-bottom: 10px;
    margin-right: 20px;
}
#header .dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 540px;
	left: -50px;
}
#hudong{
	width: 360px;
    left: -140px;
}
/****footer****/
.copyright .right-img {
    float: left;
    margin: 020px 15px 10px 60px;
    width: 114px;
    height: 057px;
}
.copyright ul li span {
    padding-right: .17rem;
}
.copyright .center-img {
    float: left;
    margin: 20px 20px 20px 0;
    width: .37rem;
    height: 44px;
}
footer .link {
    height: 20px;
    padding: 35px 0 30px 60px;
    background-color: #E1E1E1;
    margin: 0 auto;
}
/******************************/
html{
    font-size: 100px;
}
/* body{
	overflow: overlay;
} */

.banner{
    width: 100%;
    max-width: 1920px;
    height: 2.98rem;
    background: url(../assets/banner-onetime.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
/** search ************/
.search-container {
	margin:60px auto 0;
	width: 960px;
}
.search-container .ai-icon {
	background: url(../assets/handle-robot.png) no-repeat;
	width:54px;
	height: 48px;
	margin-right: 30px;
	background-size: 100% 100%;
}
.search-container .ai-bg {
	width:180px;
	height:57px;
	line-height:57px;
	text-align:center;
	background-color:#f3620b;
	font-size:20px;
	font-weight:700;
    color:#fff;
    box-sizing: border-box;
}
.search-container input {
	width:460px;
	height:57px;
	border:none;
	padding:0 0 0 40px;
	background-color:#eee;
	border-radius:0 10px 10px 0;
	font-size:20px;
	color:#393838
}
#main,.search-container input {
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
#login, #register {
    width: 92px;
    height: 32px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff5454;
    margin-top: 22px;
    margin-left: 20px;
}
#register {
    margin-left: 8px;
    background-color: #115496;
}

#main-container{
    width: 1190px;
    padding: 25px .45rem;
    margin: 0 auto;
}
/*** 常用功能   ********************************/
.common-functions-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}
.common-functions-list li{
    float: left;
    text-align: center;
    height: 42px;
    line-height: 42px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
    cursor: pointer;
}
.common-functions-list li.active{
    background-color: #E41111;
    color: #fff;
}
.common-functions-process{
    width: 1190px;
    height: 470px;
    -webkit-box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    border-radius: 6px;
}
.common-functions-process .left{
    width: 426px;
    height: 470px;
    float: left;
    border-right: 1px solid #D8D8D8;
}
.common-functions-process .title{
    font-size: 28px;
    padding-top: 50px;
    padding-left: 40px;
    color:#F3620B;
}
.process-list{
    height: 320px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
}
.process-list a{
    color: #464646;
}
.process-list li{
    cursor: pointer;
}
.process-list .icon-onetime-star{
    width: 26px;
    height: 26px;
    background-size: contain;
    display: inline-block;
    margin-right: 14px;
}
.common-functions-process .right{
    float: left;
    width: 750px;
    padding-left: 10px;
    position: relative;
}
.common-functions-process .right table{
    margin-top: 20px;
}
.common-functions-process .right th {
    font-size: 26px;
    height: 100px;
    vertical-align: middle;
}
.right th:nth-child(2){
    color: #F3620B;
}
.right th:nth-child(3){
    color: #115496;
}
.beforecolor{
    color: #F3620B;
}
.aftercolor{
    color: #115496;
}
.common-functions-process .right td {
    font-size: 20px;
    width: 230px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}
.common-functions-process .right .icon{
    width: 30px;
    height: 30px;
    background-size: contain;
    display: inline-block;
    margin-right: 12px;
}
.common-functions-process .right button{
    background-color: #115496;
    width: 197px;
    height: 65px;
    margin: 20px auto;
    display: inherit;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 6px;
}
.common-functions-process .right .icon.icon-handle-arrow{
    background: url(../assets/icon-onetime-arrow.png) no-repeat;
    width: 74px;
    height: 36px;
    position: absolute;
    right: 230px;
    top: 220px;
    background-size: contain;
}
.icon-onetime-star{
    background: url(../assets/icon-onetime-star.png) no-repeat;
}
.icon-onetime-time{
    background: url(../assets/icon-onetime-time.png) no-repeat;
}
.icon-onetime-run{
    background: url(../assets/icon-onetime-run.png) no-repeat;
}
.icon-onetime-material{
    background: url(../assets/icon-onetime-material.png) no-repeat;
}
.icon-onetime-verification{
    background: url(../assets/icon-onetime-verification.png) no-repeat;
}

/*********** 中间图标区域样式  ******************************/

.type{
    height: 176px;
    width: 1190px;
    -webkit-box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    border-radius: 6px;
    margin-top: 42px;
}
.type ul{
    display: flex;
}
.type li{
    width: 298px;
    height: 128px;
    text-align: center;
    border-right: 1px solid #D8D8D8;
    margin-top: 28px;
    font-size: 20px;
    cursor: pointer;
}
.type li p{
    color: #464646;
}
.type li .icon{
    width: 42px;
    height: 42px;
    background-size: contain;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 26px;
}
.type li:nth-child(4){
    border: 0;
}
.icon-onetime-seal{
    background: url(../assets/icon-onetime-seal.png) no-repeat;
}
.icon-onetime-backup{
    background: url(../assets/icon-onetime-backup.png) no-repeat;
}
.icon-onetime-tax{
    background: url(../assets/icon-onetime-tax.png) no-repeat;
}
.icon-onetime-building{
    background: url(../assets/icon-onetime-building.png) no-repeat;
}

/*********** 按服务类型  ******************************/

.servicetype{
    height: 695px;
    width: 1190px;
    -webkit-box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    box-shadow: 0 0 20px 0 rgba(58,57,57,.16);
    border-radius: 6px;
    margin-top: 42px;
}
.servicetype .left,
.servicetype .right{
    float: left;
}
.servicetype .tabs{
    display: flex;
    margin-top: 52px;
    margin-left: 47px;
    cursor: pointer;
}
.tabs .tab-item{
    width: 120px;
    height: 56px;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs .tab-item.active{
    background-image: linear-gradient(45deg, #0CBEED, #4888E0);
    color: #fff;
}
.servicetype .content{
    width: 360px;
    margin-left: 47px;
    background-color: #F7F7F7;
}
.serviceDetail{
    display: none;
}
.serviceDetail.active{
    display: flex;
}
.serviceDetail{
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.content li{
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0 10px;
}
.content li a{
    color: #464646;
}
.content li.active{
    color: #2D76BD;
}

.servicetype .right {
    margin-top: 53px;
    margin-left: 35px;
}
.servicetype .right li{
    width: 700px;
    height: 44px;
    margin-bottom: 10px;
    border: 1px solid #EFEFEF;
    position: relative;
    cursor: pointer;
}
.servicetype .right li p{
    float: left;
    height: 44px;
    line-height: 44px;
    margin-left: 16px;
    cursor: pointer;
}
.servicetype .right li p a{
    color: #464646;
}
.servicetype .right li button{
        width: 80px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-image: linear-gradient(45deg, #0CBEED, #4888E0);
        border: 0;
        font-size: 12px;
        padding: 0;
        color: #fff;
        position: absolute;
        right: 14px;
        top: 6px;
}
/* .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #EC6156;
} */
#pages{
    /* width: 452px; */
    margin: 0 auto;
}
.layui-laypage input:focus, .layui-laypage select:focus{
    border-color: #EC6156 !important;
}
.layui-laypage a, .layui-laypage span{
    padding: 0 9px;
}
