
/*********************************************************/
#header{
    width:19.19rem;
    height:7.56rem;
    position:relative;/*父元素div开启相对定位*/
    overflow:hidden;/*裁剪溢出内容*/
	background: url(../assets/index-banner.png) no-repeat;
	margin: 0 auto;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex; 
	display: flex;
	justify-content: center;
	max-width: 1919px;
	max-height: 756px;
	background-size: cover;
}
.header-container {
	width: 1200px;
	margin: 0 auto;
	position: absolute;
	height: 4.75rem;
	max-height: 475px;
}
.header-container .f-right{
	float: right;
	margin-right: 30px;
    margin-top: 50px;
    font-size: 16px;
}
.header-container .f-right li {
    display: inline-block;
    padding: 0 20px;
	border-right: 1px solid #464646;
	cursor: pointer;
}
.header-container .f-right li a{
	color: #464646;
}
.header-container .f-right li a:hover{
	color: #811005;
	padding-bottom: 10px;
    border-bottom: 1px solid #811005;
}
.header-container .f-right li:nth-child(3){
	border:0;
}
.index-banner-slogan{
	background: url(../assets/index/index-banner-slogan.png) no-repeat;
	width: 5.5rem;
	height: 2.12rem;
	background-size: cover;
	bottom: 0;
	left:85px;
	max-width: 550px;
	max-height: 212px;
	position: absolute;
}
.logo{
	background: url(../assets/index-banner-welcome.png) no-repeat;
	width: 350px;
    height:60px;
	margin-top: 53px;
	float: left;
	margin-left: 8px;
}
/*******************  菜单 **************************************************/
.menu-container{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	max-width: 1920px;
	min-width: 1200px;
	position: relative;
	top: -60px;
	z-index: 1;
}
.menubg{
	width: 100%;
	height: 40px;
	background-color: #811005;
	top: 20px;
	position: absolute;
	z-index: -1;
}

.menu-container>ul{
	background: url(../assets/menu-bg.png) no-repeat;
    width: 1200px;
    box-sizing: border-box;
    padding: 0 120px;
    display: flex;
    margin: 0 auto;
    height: 60px;
    background-size: contain;
    justify-content: space-between;
}
.menu-container .menu{
	font-size: 22px;
	height: 60px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border-bottom: 5px solid transparent;
	position: relative;
}
.menu-container .menu>a{
	color: #fff;
	font-size: 20px;
}
.menu-container .menu.active>a,
.menu-container .menu:hover>a{
	color: #ffed57;
}
.menu-container .menu.active{
    border-bottom: 5px solid #ffed57;
}
.icon-menu-hover{
	display: none;
}
.menu-container .menu:hover .icon-menu-hover{
	display: inline-block;
	bottom: -5px;
    left: 40px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.menu .dropdownmenu{
	display: none;
	position: absolute;
	top: 40px;
	padding-top: 40px;
	justify-content: space-between;
}
.menu:hover .dropdownmenu,
.dropdownmenu:hover{
	display: flex;
	
    
}
.dropdownmenu li{
	padding-right: 25px;
    border-right: 1px solid #464646;
}
.dropdownmenu li:last-child{
	border: 0;
}
.dropdownmenu li:last-child a{
	border: 0;
}
.dropdownmenu li a{
	color: #464646;
	width: 72px;
	font-size: 18px;
	padding-bottom: 10px;
}
.dropdownmenu li:hover a{
	color: #992115;
	border-bottom: 3px solid #992115;
}

#enterqingdao{
	width: 520px;
	left: -50px;
}
#hudong{
	width: 350px;
    left: -130px;

}
/*********************************************************************/

/******** main left *****************************************************************/
.main-auto {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    padding: 10px 0 0;
}
.main-left {
    float: left;
    width: 600px;
}
.tip-title {
	height:30px;
	margin-bottom:30px
}
.tip-title .line{
	display: inline-block;
    width: 6px;
    height: 27px;
    line-height: 30px;
    border-radius: 20px;
    vertical-align: bottom;
    background-color: #295990;
}
.tip-title h2 {
	display: inline-block;
    font-size: 26px;
    font-stretch: normal;
    letter-spacing: 0;
    color: #333;
    /* border-left: 5px solid #295990; */
    padding-left: 12px;
}
.news{
	padding-left: 5px;
	width: 566px;
	height: 561px;
	position: relative;
}
.news .img {
	background: url(../assets/index/news.png) no-repeat;
	width:575px;
	height:315px;
	display: block;
	background-size: 100% 100%;
}
.news ul {
	margin:12px 0 28px 20px;
	height: 174px;
}
.news ul li {
	list-style:disc;
	font-size:16px;
	font-stretch:normal;
	line-height:36px;
	letter-spacing:0;
	color:#333
}

.news ul li a {
	float:left;
	width:440px;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#333
}
.news ul li span {
	float:right
}
.info .tip-title,
.cimos .tip-title{
	margin-bottom: 20px;
}

.news .police {
	margin-top:0
}

.policy{
	background: url(../assets/index/index-findpolicy.png) no-repeat;
    width: 580px;
    background-position: 28px 22px;
    height: 198px;
    position: relative;
    box-sizing: border-box;
    padding-left: 54px;
    padding-top: 65px;
    margin-bottom: 8px;
    overflow: auto;
    background-color: #f6f6f6;
    border-radius: 6px;
}

.policy .img{
	width: 180px;
	height: 41px;
	display: block;
    margin-right: 80px;
}
.policy .img:nth-child(1){
	margin-bottom: 30px;
}
.policy .img{
    width: 180px;
	height: 38px;
	line-height:38px;
	text-align: center;
    border: 1px solid #ba2904;
    border-radius: 22px;
	color: #ba2904;
	display: block;
	font-size:15px
}
.policy .img:hover{
	background-color: #ba2904;
	color: #fff;
}
.policy .img i{
	font-size: 18px;
	margin-right: 10px;
}
.cimos{
	background: url(../assets/index/index-zimaoqu.png) no-repeat;
	width:580px;
	display: block;
	border-radius: 4px;
	height:198px;
	margin-bottom: 10px;
	background-size: 100% 100%;
}
.cimos a{
	width: 580px;
	height: 198px;
	display: block;
}
.business-land {
	background: url(../assets/index/index-qyfw.png) no-repeat;
    width: 580px;
    display: block;
    border-radius: 4px;
    height: 198px;
    background-color: #f6f6f6;
	background-position: 20px 20px;
	box-sizing: border-box;
    padding-top: 67px;
    padding-left: 454px;
}
.business-land .qyfw-btn{
		width: 104px;
		height: 25px;
		line-height: 25px;
		border: 1px solid #295990;
		border-radius: 20px;
		text-align: center;
		color: #295990;
}
.business-land .qyfw-btn:hover{
	color: #fff;
	background-color: #295990;
}
.business-land .qyfw-btn i{
	margin-left: 5px;
    font-size: 12px;
}
.divide-left{
	margin-top: 30px;
	border-top: 1px solid #DDDDDD;
	margin-bottom: 35px;
}
/******** main right *****************************************************************/
.divide-right{
	border-top: 1px solid #DDDDDD;
    position: relative;
    left: -32px;
	width: 600px;
	margin-bottom: 35px;
}
.main-right {
	width: 600px;
    box-sizing: border-box;
    float: right;
    padding-left: 32px;
}
.main-right .right-tip {
	width:564px;
	height: 36px;
    text-align: center;
    font-size: 32px;
    /* font-weight: 700; */
    font-stretch: normal;
    letter-spacing: 0;
    color: #414141;
    margin-bottom: 24px;
}
.ai-search {
	position:relative;
	width:564px
}
.ai-search input {
	width:427px;
	height:45px;
	padding: 0 0 0 20px;
	border:none;
	background-color:#eee;
}
.ai-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 45px;
    border: none;
    background-color: #A42D11;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fff;
}

.tip-right {
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: 1px;
    color:#992115;
    margin-bottom: 37px;
}

/************ 我要办事 *************************************/

.service {
	margin-bottom: 31px;
	overflow: hidden;
}

.service>div{
	float: left;
	width: 133px;
	height: 374px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: 60px;
}
.service>div.active{
	width: 298px;
	height: 420px;
	border: 1px solid #992115;
	border-radius: 6px;
	margin-top: 35px;
}
.service .icon{
	display: inline-block;
	background-size: contain;
	vertical-align: middle;
}
.service .head .icon{
	font-size: 20px;
    margin-right: 3px;
}
.service>.active .head .icon{
	vertical-align: bottom;
	margin-right: 10px;
	font-size: 22px;
}
.service .head{
	height: 60px;
	background-color: #D2D1D1;
	box-sizing: border-box;
	color: #8a0d0d;
	font-size: 18px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.service .active .head{
	background: url(../assets/index/index-service-selected.png) no-repeat;
	height: 60px;
    color: white;
    font-size: 23px;
}
.service .active .service-tab-body{
	display: none;
}
.service .active .active-tab-body{
	display: block;
}
.active-tab-body .circle{
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}
.circle li{
	width: 74px;
}
.circle a{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	color: #333;
}
.active-tab-body .circle .icon{
	width: 50px;
    height: 50px;
    border: 1px solid #8a0d0d;
    display: inline-block;
    border-radius: 25px;
	margin-bottom: 7px;
	display: flex;
    justify-content: center;
	align-items: center;
	color: #8a0d0d;
	font-size: 30px;
	box-sizing: border-box;
}
.active-tab-body .circle a.active .icon,
.active-tab-body .circle a:hover .icon{
	color: #fff;
	background-color: #8a0d0d;
}
.circle .icon-biangeng{
	padding-left: 3px;
}
.circle .icon-zizhirenzheng{
	padding-left: 4px;
}
.active-tab-body .rect{
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.special-service .active-tab-body .rect {
	margin-top: 20px;
}
.active-tab-body .rect li{
	width: 50%;
    float: left;
    display: flex;
    justify-content: space-around;
}
.active-tab-body .rect a {
	display: flex;
    width: 130px;
    height: 50px;
    margin: 15px auto;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: 1px solid #8a0d0d;
    color: #8a0d0d;
}
.active-tab-body .rect a:hover,
.active-tab-body .rect a.active{
	background-color: #8a0d0d;
	color: #fff;
}
.active-tab-body .rect .icon{
	font-size: 18px;
	margin-right: 5px;
}
.active-tab-body .circle .active .icon,
.active-tab-body .rect .active{
	background-color: #8a0d0d;
	color: white;
}
.service-tab-body .icon.index-icon-3point{
	background: url(../assets/index/index-icon-3point.png) no-repeat;
	width: 35px;
    height: 4px;
}
.index-icon-company{
	background: url(../assets/index/index-icon-company.png) no-repeat;
}
.index-icon-talent{
	background: url(../assets/index/index-icon-talent.png) no-repeat;
}
.index-icon-special{
	background: url(../assets/index/index-icon-special.png) no-repeat;
}

.service-tab-body .icon{
	width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
	margin-right: 5px;
	color: #8a0d0d;
    font-size: 20px;
}
.service-tab-body li{
	height: 78px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
}
.service-tab-body li:nth-child(4){
	border-bottom: 0;
}
.service-tab-body li a{
	display: flex;
    justify-content: center;
    align-items: center;
}
.service-tab-body li div{
	display: inline-block;
	color: #333;
}
.active .service-tab-body {
	background-color: #F9F9F9;
}
.icon-handle-rencaishixiang{
	background: url(../assets/index/index-handle-rencaishixiang.png) no-repeat;
}
li:hover .icon-handle-rencaishixiang,
li.active .icon-handle-rencaishixiang{
	background: url(../assets/index/index-handle-rencaishixiang.png) no-repeat;
}
.icon-handle-rencaizhengce{
	background: url(../assets/index/index-handle-rencaizhengce.png) no-repeat;
}
li:hover .icon-handle-rencaizhengce,
li.active .icon-handle-rencaizhengce{
	background: url(../assets/index/index-handle-rencaizhengce.png) no-repeat;
	background-size: contain;
}
.icon-handle-rencailvka{
	background: url(../assets/index/index-handle-rencailvka.png) no-repeat;
}
li:hover .icon-handle-rencailvka,
li.active .icon-handle-rencailvka{
	background: url(../assets/index/index-handle-rencailvka.png) no-repeat;
	background-size: contain;
}
.icon-handle-huicaika{
	background: url(../assets/index/index-handle-huicaika.png) no-repeat;
}
li:hover .icon-handle-huicaika,
li.active .icon-handle-huicaika{
	background: url(../assets/index/index-handle-huicaika.png) no-repeat;
	background-size: contain;
}

.icon-handle-kuaidi{
	background: url(../assets/index/icon-handle-kuaidi.png) no-repeat;
}
.icon-handle-bangban{
	background: url(../assets/index/icon-handle-bangban.png) no-repeat;
}
.icon-handle-quanban{
	background: url(../assets/index/icon-handle-quanban.png) no-repeat;
}
/****************************************************/
.divide{
	background: url(../assets/index/index-divide.png) no-repeat;
	width: 562px;
	height: 14px;
}
.main-right .tip-title .line{
	background-color:  #BA2904;
}
.list-point {
	float:left;
	width:8px;
	height:8px;
	margin:20px 8px 0 0;
	background:silver;
	border-radius:4px
}
.list-point+a {
	color:#333
}

.inter-do-service {
	background: url(../assets/index/index-once-service.png) no-repeat;
	width: 575px;
	height: 298px;
	background-size: 99% 100%;
    margin-bottom: 30px;
	margin-top: 32px;
	padding-top: 147px;
	padding-left: 210px;
	box-sizing: border-box;
}

.inter-do-service ul {
	width:340px;
}
.inter-do-service ul li {
	width:fit-content;
	box-sizing: border-box;
	float:left;
	font-size:15px;
	height: 38px;
	line-height:45px;
	border-bottom:1px dashed #676767;
	color:#676767;
}
.inter-do-service ul li:nth-child(1),
.inter-do-service ul li:nth-child(3){
	margin-right: 35px;
}
.inter-do-service a{
	color:#676767;
}
.inter-do-service span{
	margin-right: 10px;
}
.simple-approval{
	background: url(../assets/index/index-jjsp.png) no-repeat;
	width: 575px;
	height: 289px;
	background-size: 99% 100%;
	padding-top: 208px;
	padding-left: 64px;
	box-sizing: border-box;
}
.jjsp-btn{
	width: 104px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #295990;
	border-radius: 20px;
	text-align: center;
	color: #295990;
}

.jjsp-btn:hover{
color: #fff;
background-color: #295990;
}
.jjsp-btn i{
margin-left: 5px;
font-size: 12px;
}


/***************************************************/
.link{
	margin-top: 0;
}

.service-list{
	width: 100%;
	max-width: 1920px;
    background-color: rgba(185, 26, 45, 0.85);
	margin: 62px auto 0;
}
.service-list .list-ul {
    width: 1200px;
    margin: 0 auto;
}
 .service-list .list-ul li {
    width: 399px;
    height: 60px;
    float: left;
    border-right: 1px solid #A3372C;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 60px;
    cursor: pointer;
}
.service-list .list-ul li:nth-child(1){
	width: 395px;
	border-left: 1px solid #A3372C;
}
.service-list .list-ul ul li span {
    border-bottom: 2px solid transparent;
    padding-bottom: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service-list .list-ul ul li a{
    color: #fff;
    padding-bottom: 16px;
}
.service-list .list-ul ul li:hover span,
.service-list .list-ul ul li.active span {
    color: #d0c27c;
    border-bottom: 2px solid #d0c27c;
}
.service-list .list-ul ul li:hover a,
.service-list .list-ul ul li.active a {
    color: #d0c27c;
    border-bottom: 2px solid #d0c27c;
}
.service-list .list-main {
    width: 1200px;
    height: 119px;
    margin: 0 auto;
}
._hidden {
    display: none !important;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.service-list .list-main ul {
    margin-top: 33px;
}
.service-list .list-main ul li {
    width: 260px;
    margin: 0 0 0 40px;
    font-size: 16px;
    margin-bottom: 22px;
    float: left;
}
.service-list .list-main ul li a{
	color: #fff;
}
.service-list .list-main ul li a:hover {
    color: #d0c27c;
}